includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
        - bootstrap
        - config
        - tests
    level: 8
    ignoreErrors:
    excludePaths:
        - bootstrap/cache
    checkGenericClassInNonGenericObjectType: false
